.App {
  text-align: center;
}

.toast {
  width: 100%;
  padding: 10px;
  position: absolute;
  background: #ccc;
  color: #666;
  font-size: 200%;
  text-align: center;
  left: 0;
  top: 0;
  right: 0;
  transform: translateY(-100px);
  animation: slideDown 3s;
}

@keyframes slideDown {

  0%,
  100% {
    -webkit-transform: translateY(-100px);
  }

  10%,
  90% {
    -webkit-transform: translateY(0px);
  }
}

@media only screen and (max-width: 768px) {
  .toast {
    padding: 5px;
  }
}